In [1]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('ner_dataset.csv', encoding = "ISO-8859-1")
df.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [4]:
df = df.fillna(method='ffill')

In [5]:
df.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1  Sentence: 1             of   IN   O
2  Sentence: 1  demonstrators  NNS   O
3  Sentence: 1           have  VBP   O
4  Sentence: 1        marched  VBN   O

In [13]:
sent=np.unique(df['Sentence #'])

In [24]:
grouped = df.groupby(df['Sentence #'])
Sentaces=[]
for i in range(len(sent)) :
    dummy = grouped.get_group(sent[i])
    Sentaces[i]=dummy['Word'].values.tolist()

IndexError: list assignment index out of range

In [ ]:
df['column_name'].values.tolist()

In [28]:
sent=dummy['Word'].values.tolist()

In [46]:
class SentenceGetter(object):
    def __init__(self, df):
        self.n_sent = 1
        self.df = df
        agg_func = lambda s: [(w) for w in zip(s['Word'].values.tolist())]
        self.grouped = self.df.groupby('Sentence #').apply(agg_func)
        self.sentences = [s for s in self.grouped]

In [49]:
getter = SentenceGetter(df)
sentences = getter.sentences

AttributeError: 'list' object has no attribute 'shape'

In [57]:
test = np.array(sentences)

In [66]:
test2=np.array(test[0])

In [74]:
test2

(24, 1)

In [76]:
from spacy import displacy
from collections import Counter
import en_core_web_sm
nlp = en_core_web_sm.load()

In [105]:
doc = nlp(makeitastring)
 
for ent in doc.ents:
    print(ent.text, ent.label_)

Thousands CARDINAL
London GPE
Iraq GPE
British NORP

In [92]:
makeitastring = ''.join(map(str, test2))

In [86]:
makeitastring
s1=makeitastring.replace("[","")

In [88]:
import re
s1=re.sub(“['']”,””,makeitastring)

SyntaxError: invalid character '“' (U+201C) (2813726377.py, line 2)

In [89]:
s1="".join(c for c in makeitastring if c.isalpha())

In [93]:
result = makeitastring.replace(/[^a-zA-Z0-9\s!?]+/g, '');

SyntaxError: invalid syntax (1716236460.py, line 1)

In [99]:
makeitastring = makeitastring.replace("]"," ")

In [101]:
makeitastring = makeitastring.replace("[","")

In [103]:
makeitastring = makeitastring.replace("'","")

In [104]:
makeitastring

'Thousands of demonstrators have marched through London to protest the war in Iraq and demand the withdrawal of British troops from that country . '